<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SEO -->
  {% seo %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Halant:300,400" rel="stylesheet">

  <!-- CSS -->
  <!-- inject:css -->
  <!-- endinject -->

  <!-- Icons -->
  <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.png"/>
<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.png"/>


  <!-- RSS -->
  {% feed_meta %}
</head>
