<header>

   <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul class="center">
          <li {%if page.title == 'About' %}class="active"{% endif %}><a href="{{site.baseurl}}/">About</a></li>
          <li {%if page.title == 'Blog' %}class="active"{% endif %}><a href="{{site.baseurl}}/blog">Blog</a></li>
          <li {%if page.title == 'Class' %}class="active"{% endif %}><a href="{{site.baseurl}}/class">Class</a></li>
          <li {%if page.title == 'Contact' %}class="active"{% endif %}><a href="{{site.baseurl}}/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
   <div class="row">
        <div class="col s12">
          <div class="card blue darken-4">
            <div class="card-content white-text">
              <h5 class="center">Sarah Title</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>
