<ul class="post-list post-list-infinite">
  {% for post in site.posts limit: 2 %}  
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      <h1 class="post-title post-title-full">
        {{ post.title }} 
      </h1>
      </a>
      
      <div class="post-content post">{{post.content}}</div>
      <p class="post-meta float-right"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">Posted on {{ post.date | date: "%b %-d, %Y" }}</time></p>
    </li>
    <div style="clear:both"></div>
    <hr class="post-hr">

  {% endfor %}
</ul>

<div class="infinite-spinner"></div>