@charset "utf-8";

// Our variables
$base-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$content-width: 740px;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
/* Base */

a {
  color: #888;
}
a:hover, a:active {
  color: #aaa;
}
.container {
  max-width: $content-width;
}
/* Nav */
ul.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $content-width;
  margin: 0 auto;
  width: 90%;
}
nav ul li {
   width: 25%;
}
nav ul li.active {
    background-color: transparent;

    a {
      font-weight: bold;
    }
  }
nav ul a {
  color: black;
  &:hover {
    background-color: transparent;
  }
}

div.nav-wrapper {
  background-color: white;
}

nav {
  box-shadow:none;
}

.scroll-down {
   transition: box-shadow 400ms;
  box-shadow: 
    0 0 0 1px rgba(0,0,0, 0.1),
    0 0 11px 0px rgba(0,0,0,0.2);
 
}
/* Posts */
.post-link {
  color: rgba(51, 51, 51, 0.8);
  margin-bottom: .25rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6;
}
/*
.post-list {
  li {
    padding: 4% 0 2% 2%;
    &:hover {
      background-color: #f5f7f9;
      border-color: transparent;
      border-radius: 10px
    }
  }
}
*/
.post-date {
  color: rgba(179, 179, 179, 0.8);
    font-size: .75rem;
    text-transform: uppercase
}
.post-description {
  color: rgba(102, 102, 102, 0.8);
  margin-bottom: .25rem;
  font-size: 1rem
}

h1.post-title {
  padding-top: 1em;
}

.PageNavigation {
  padding-bottom: 1em;
}

.next {
  float: right;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 1em;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Tags */
.chip:hover {
  background: #bdbdbd;
}

/*Forms */
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2196f3;
 box-shadow: 0 1px 0 0 #2196f3;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
 color: #2196f3;
}
.btn, .btn-large {
  background-color: #2196f3;
}
.btn:hover, .btn-large:hover {
  background-color: #64b5f6
}
 
.footer-link {
  a {
    padding: 0 6px;
  }
}

.float-right {
  float: right;
}

/*Infinite scroll spinner*/
.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}



